<!-- {{ $existingViewport := .Site.Params.viewport | default "width=device-width,initial-scale=1" }} -->
<!-- <meta name="viewport" content="{{ $existingViewport | replace "initial-scale=1" "initial-scale=1,maximum-scale=1,user-scalable=no" }}"> -->
{{ $existingHead := .Content | safeHTML }}
{{ $existingHead = $existingHead | replaceRE "(?i)<meta name=\"viewport\"[^>]*>" "" }}
{{ $existingHead }}
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
